<style id="styles"></style>

<div class="content">

  <!-- Start receipt template  -->

  <table class="main">
    <tr>
      <td class="wrapper">
        <table>
          {{#if LogoURL}}
          <tr>
            <td class="align-center">
              <img src="{{ LogoURL }}" height="48" alt="{{ ChainName }}"></a>
            </td>
          </tr>
          {{/if}}
          <tr>
            <td>
              {{#if LAYOUT.HEADER.TITLE}}
              <h1 class="align-center">Your receipt</h1>
              {{/if}}

              {{#if LAYOUT.HEADER.MESSAGE}}
              <p>Hi there {{ FirstName }}, thanks for your purchase!</p>
              <p>Your order details from {{ ChainName }}:</p>
              {{/if}}

              {{#if LAYOUT.HEADER.MESSAGE}}
              <table>
                <tr>
                  <td class="receipt-total">
                    {{#PaymentMethod}}
                      {{.}}
                    {{/PaymentMethod}}
                    {{^PaymentMethod}}
                      CHARGED
                    {{/PaymentMethod}}
                  </td>
                  <td>
                    &nbsp;
                  </td>
                  <td align="right" class="receipt-total">
                     {{ CurrencySymbol }}{{ TotalValue }}
                  </td>
                </tr>
                <!-- <tr>
                  <td>
                    EARNED
                  </td>
                  <td>
                    &nbsp;
                  </td>
                  <td align="right">
                    {{ CurrencySymbol }}{{ TotalEarned }}
                  </td>
                </tr> -->
              </table>
              <table>
                <tr>
                  <td>
                    Order number
                  </td>
                  <td>
                    &nbsp;
                  </td>
                  <td align="right">
                    #{{ Id }}
                  </td>
                </tr>
                <tr>
                  <td>
                    Date
                  </td>
                  <td>
                    &nbsp;
                  </td>
                  <td align="right">
                    {{ Timestamp }}
                  </td>
                </tr>
              </table>

              <table class="divider-wrapper">
                <tr>
                  <td class="divider-spacer">
                    <table class="divider divider-{{ type }} {{ class }}" cellpadding="0" cellspacing="0">
                      <tr>
                        <td></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              {{/if}}


              {{#if LAYOUT.CONTENT.LINEITEMS}}
              <table>
                <tr>
                  <!-- {{#LineItems.0.metadata.image}}
                  <td class="receipt-order-details_header">
                    &nbsp;
                  </td>
                  {{/LineItems.0.metadata.image}} -->
                  <td class="receipt-order-details_header">
                    NAME
                  </td>
                  <td class="receipt-order-details_header">
                    QTY
                  </td>
                  <td class="receipt-order-details_header" align="right">
                    TOTAL
                  </td>
                </tr>
                {{#LineItems}}
                <tr>
                  {{#if Metadata.Image}}
                  <td class="receipt-line-item_image-box">
                    <img class="receipt-line-item_image" src="{{ Metadata.Image }}">
                  </td>
                  {{/if}}
                  <td>
                      <p class="receipt-line-item_name">
                        {{#if Name}}
                          {{ Name }}
                        {{else}}
                          NONAME
                        {{/if}}
                      </p>
                      {{#Description}}
                      <p class="receipt-line-item_description">
                        {{ . }}
                      </p>
                      {{/Description}}
                      {{#Metadata}}
                      <p class="receipt-line-item_description">
                        {{#Metadata.Size}}{{.}}{{/Metadata.Size}} {{#Metadata.Color}},{{.}}{{/Metadata.Color}}
                      </p>
                      {{/Metadata}}
                  </td>
                  <td>
                    {{ Quantity }}
                  </td>
                  <td align="right">
                    {{#OriginalPrice}}
                      <span class="receipt-line-item_original-price">
                        {{../CurrencySymbol}}{{.}}
                      </span>
                    {{/OriginalPrice}}
                    {{#SalePrice}}
                      <span class="receipt-line-item_sale-price">
                        {{../CurrencySymbol}}{{.}}
                      </span>
                    {{/SalePrice}}
                  </td>
                </tr>
                {{/LineItems}}
              </table>
              {{/if}}

              {{#if LAYOUT.CONTENT.TOTALS}}
              <table class="receipt-subtotals">
                <tr>
                  <td>
                    Subtotal
                  </td>
                  <td>
                    &nbsp;
                  </td>
                  <td align="right">
                    {{ CurrencySymbol }}{{ Subtotal }}
                  </td>
                </tr>
              </table>
              {{/if}}

              {{#if LAYOUT.CONTENT.LINETAXES}}
              {{#if LineTaxes}}
              <table class="divider-wrapper">
                <tr>
                  <td class="divider-spacer">
                    <table class="divider divider-{{ type }} {{ class }}" cellpadding="0" cellspacing="0">
                      <tr>
                        <td></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>

              <table class="receipt-taxes">
                <tr>
                  <td>
                    VAR RATE
                  </td>
                  <td>
                    ORDER VALUE
                  </td>
                  <td align="right">
                    VAT
                  </td>
                </tr>
                {{#LineTaxes}}
                <tr>
                  <td>
                    {{ Rate }}
                  </td>
                  <td>
                    {{ CurrencySymbol }}{{ OrderValue }}
                  </td>
                  <td align="right">
                    {{ CurrencySymbol }}{{ TaxValue }}
                  </td>
                </tr>
                {{/LineTaxes}}
              </table>

              <table class="divider-wrapper">
                <tr>
                  <td class="divider-spacer">
                    <table class="divider divider-{{ type }} {{ class }}" cellpadding="0" cellspacing="0">
                      <tr>
                        <td></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              {{/if}}
              {{/if}}

              {{#if LAYOUT.CONTENT.TOTALS}}
              <table class="receipt-totals">
                {{#Vouchers}}
                <tr>
                  <td>
                    {{ Text }}
                  </td>
                  <td>
                    &nbsp;
                  </td>
                  <td align="right">
                    -{{ CurrencySymbol }}{{ Amount }}
                  </td>
                </tr>
                {{/Vouchers}}
                <tr class="receipt-total">
                  <td>
                    TOTAL
                  </td>
                  <td>
                    &nbsp;
                  </td>
                  <td align="right">
                    {{ CurrencySymbol }}{{ TotalValue }}
                  </td>
                </tr>
              </table>
              {{/if}}

              <table class="divider-wrapper">
                <tr>
                  <td class="divider-spacer">
                    <table class="divider divider-{{ type }} {{ class }}" cellpadding="0" cellspacing="0">
                      <tr>
                        <td></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>

              {{#if LAYOUT.CONTENT.WALLET}}
              {{#Wallet}}
              <table class="wallet">
                <tr>
                  <td>
                    {{ Wallet.Title }}
                  </td>
                </tr>
                <tr>
                  <td>
                    Total earned on this transaction
                  </td>
                  <td align="right">
                    {{ CurrencySymbol }}{{ TotalEarned }}
                  </td>
                </tr>
                <tr class="receipt-total">
                  <td>
                    You current balance
                  </td>
                  <td align="right">
                    {{ CurrencySymbol }}{{ Wallet.SavedAmount }}
                  </td>
                </tr>
              </table>

              <table class="divider-wrapper">
                <tr>
                  <td class="divider-spacer">
                    <table class="divider divider-{{ type }} {{ class }}" cellpadding="0" cellspacing="0">
                      <tr>
                        <td></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              {{/Wallet}}
              {{/if}}

              {{#if LAYOUT.CONTENT.DOWNLOAD}}
              <table class="btn btn-primary" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="center">
                    <table cellpadding="0" cellspacing="0">
                      <tr>
                        <td>
                          <a href="{{ DownloadUrl }}">Download your PDF receipt</a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>

              <table class="divider-wrapper">
                <tr>
                  <td class="divider-spacer">
                    <table class="divider divider-{{ type }} {{ class }}" cellpadding="0" cellspacing="0">
                      <tr>
                        <td></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              {{/if}}

              <table>
                <tr>
                  <td>
                    {{ ChainName }}
                  </td>
                </tr>
              </table>
              {{#if LAYOUT.FOOTER.MAP}}
              {{#if MapURL }}
              <table>
                <tr>
                  <td>
                    <img src="{{ MapURL }}" alt="{{ ChainName }}">
                  </td>
                </tr>
              </table>
              {{/if}}
              {{/if}}
              <table>
                <tr>
                  <td>
                    {{#if LAYOUT.FOOTER.ADDRESS}}
                    <p>
                      {{#Address_1}}
                        {{ . }}<br>
                      {{/Address_1}}
                      {{#PostalCode}}
                        {{ . }}
                      {{/PostalCode}}
                      {{#Towncity}}
                        {{ . }}
                      {{/Towncity}}
                    </p>
                    {{/if}}
                  </td>
                  <td align="right">
                    {{#if LAYOUT.FOOTER.CONTACT}}
                    {{#PhoneNumber}}
                      <a href="tel:{{ . }}">{{ . }}</a>
                    {{/PhoneNumber}}
                    {{#EmailAddress}}
                      <a href="tel:{{ . }}">{{ . }}</a>
                    {{/EmailAddress}}
                    {{/if}}
                  </td>
                </tr>
              </table>

              {{#if LAYOUT.FOOTER.MESSAGE}}
              <table class="divider-wrapper">
                <tr>
                  <td class="divider-spacer">
                    <table class="divider divider-{{ type }} {{ class }}" cellpadding="0" cellspacing="0">
                      <tr>
                        <td></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <p class="align-center">Thank you for choosing {{ ChainName }}.</p>
              {{/if}}
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <!-- End Receipt template  -->

</div>
